

<section class="py-10">
  <div class="container mx-auto">
  

    {% paginate collection.products by 8 %}
    <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
      {% for product in collection.products %}
        <div class="border rounded p-4 text-center">
          <a href="{{ product.url }}">
            <!-- <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}" class="mx-auto mb-4" /> -->

            <div class="relative group mb-4 aspect-square overflow-hidden">
               <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}" class="absolute inset-0 w-full h-full object-cover transition-opacity duration-300 group-hover:opacity-0"/>

               {% if product.images.size > 1 %}
                  <img src="{{ product.images[1] | img_url: 'medium' }}" alt="{{ product.title }}" class="absolute inset-0 w-full h-full object-cover transition-opacity duration-300 opacity-0 group-hover:opacity-100"/>

              {% else %}
               <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}" class="absolute inset-0 w-full h-full object-cover transition-opacity duration-300"/>
             {% endif %}

              <!-- Quick View Button -->
  
              <button 
               class="quick-view-btn absolute bottom-4 left-1/2 -translate-x-1/2 bg-black text-white text-sm px-4 py-2 rounded opacity-0 group-hover:opacity-100 transition-opacity" 
               data-handle="{{ product.handle }}"
               type="button">Quick View 
              </button>

            </div>
            
            
            <h2 class="text-lg font-medium">{{ product.title }}</h2>
          </a>
          <p class="text-green-600 font-semibold mt-2">
            {{ product.price | money }}
          </p>
          <form method="post" action="/cart/add">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
            <button type="submit" class="mt-3 px-4 py-2 bg-black text-white rounded-full">
              Add to Cart
            </button>
          </form>
        </div>
      {% endfor %}
    </div>

    <div class="mt-10 text-center">
      {{ paginate | default_pagination }}
    </div>
    {% endpaginate %}
  </div>
</section>


{% schema %}
  {
    "name": "Collection Page",
    "settings": []
  }
{% endschema %}

